body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#svgText {
  bottom: 1vh;
  position: absolute;
  font-weight: bold;
  font-size: 25vh;
  transition: 1s font-size;
  top: 0;
  left: 0;
  height: 100%;
}
/* @media screen and (max-width: 750px){
    svg{
        font-size: 6em;
    }   
} */

video {
  width: 100vw;
  height: 100vh;
  /* margin: auto; */
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
svg rect {
  fill: white;
  mask: url(#mask);
  opacity: 0.65;
  z-index: 0;
}

.btn {
    margin-top: 25%;
  z-index: 1;
  position: absolute;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:hover{
    cursor: pointer;
}
